#css1 /* name: erik stpehns file:  syles*/
{
	width:30%;
	float: left;
	padding: 1%;
}

#css2 {
	width:30%;
	float: left;
	padding: 1%;
}
#css3 {
	width:30%;
	float: left;
	padding: 1%;
}

footer {
	text-align: center;
	font-size: 0.85em;
	color: #47476b;
	padding: 1% 0;
	border-top: 3px solid #47476b;
    float: left;
}

body {
	padding: 2%;
	background-color: #d1d1e0;
}

main {
	padding: 2%;
	font-family: Geneva, Arial, sans-serif;
	color: #47476b;
	text-decoration: none;
}

header h1 {
    text-align: center;
	font-size: 3em;
	font-family: Georgia, Times, serif;
	padding: 3%;
	color: #47476b;
}

nav {
	background-color: #47476b;
	text-decoration: none;
}

nav ul {
	margin: 0;
	text-decoration: none;
}

nav li {
	display: block;
	font-size: 1.5em;
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	text-decoration: none;
}

nav li a {
	display: block;
	color: #e3eaf8;
	padding: 0.5em 2em;
	text-decoration: none;
}

main p {
	font-size: 1.25em;
	text-decoration: none;
}

main h3 {
	padding-top: 2%;
	font-size: 2em;
	text-decoration: none;
}